body {
    font-family: sans-serif;
    text-align: center;
    background: #f2f2f2;
}

.screen {
    display: none;
}

#quiz-container {
    background: blueviolet;
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-style: outset;
    border-radius: 10px;
}
#start-screen {
    background: #fff;
    margin: 80px auto;
    padding: 40px 20px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);

}

#start-title {
    color: blueviolet;
    margin-bottom: 30px;
}

#start-button {
    background: blueviolet;
    color: #fff;
    font-size: 1.2em;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    transition: background 0.2s;
}

#start-button:hover {
    background: blueviolet;
}

#answers button {
    transition: background 0.2s, color 0.2s;
}

#edit-screen {
    background: blueviolet;
    margin: 80px auto;
    padding: 40px 20px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

#edit-button {
    background: blueviolet;
    color: #fff;
    font-size: 1.2em;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    transition: background 0.2s;
}
#edit-button:hover {
    background: blueviolet;
}

#add-question-screen {
    background: blueviolet;
    margin: 80px auto;
    padding: 40px 20px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}